
SUBSYSTEMS=="usb", ATTRS{serial}=="S/N:9A96BD8705958B48957736AA7C05D7E4 Rev:NBRMSAAHDM:16OCT123", SYMLINK+="barscanner0"
SUBSYSTEMS=="usb", ATTRS{serial}=="S/N:8D8F82A7CFD4BA4883C0BAFC3415F9B3 Rev:NBRMSAABDM:01APR103", SYMLINK+="barscanner1"

