[Unit]
Description=FECOTEME Hall Access Control System

[Service]
Type=simple
Restart=on-failure
RestartSec=3
ExecStart=/home/pi/Documents/Projects/FecotemeAccessControl/code/fecoteme_access_control.py

[Install]
WantedBy=multi-user.target

